= provide(:title, 'Home')

.row
  %h1 Employee Home
  .eight.columns
    .panel
      .row
        .eight.columns
          %h4 User Information
          %p
            = "Username: #{current_employee.username}"
          %p
            = "Email: #{current_employee.email}"
          %p
            = "Name: #{current_employee.name}"
          %p
            = "Date of birth: #{current_employee.date_of_birth}"
        .four.columns
          %h5 Not Correct?
          = link_to "Edit Account Info", edit_employee_registration_path, :class => 'button radius'
  .four.columns
    = render 'employee/pages/clients_table'