= provide(:title, 'Locked Account')

.row
  %h2 Resend unlock instructions
  .six.columns
    = form_for(@employee, :url => employee_unlock_path, :method => :post , :html => { :class => '' }) do |f|
      %fieldset
        %legend Account Information
        = f.email_field :email, :placeholder => "you@email.com"
        = f.submit "Send Unlock Instructions", :class => "radius button"
    = render "employee/shared/authentication_links"