= nested_form_for( @payment_profile, :url => customer_payment_profiles_path, :method => :post, :html => { :class => '' } ) do |f|
  %fieldset
    %legend Account Information
    .row
      = f.hidden_field :payment_type, :value => "bank_account"
    .row
      .six.columns 
        = f.label "First Name"
        = f.text_field :first_name, :placeholder => "Elvis"
      .six.columns 
        = f.label "Last Name"
        = f.text_field :last_name, :placeholder => "Presley"
  %fieldset
    %legend Bank Account Details
    = f.fields_for :bank_account do |bank_account|
      .row
        .six.columns
          = bank_account.label "Account Holder"
          = bank_account.select :account_holder, :collection => ["personal", "business"]
        .six.columns
          = bank_account.label "Account Type"
          = bank_account.select :account_type, :collection => ["checking", "savings"]
      .row
        .six.columns
          = bank_account.label "Account Number"
          = bank_account.text_field :account_number
        .six.columns
          = bank_account.label "Routing Number"
          = bank_account.text_field :routing_number
  %fieldset
    %legend Address
    = f.fields_for :billing_address do |address|
      .row
        .twelve.columns
          = address.label "Street"
          = address.text_field :street, :placeholder => "123 Famous St."
      .row
        .six.columns
          = address.label "City"
          = address.text_field :city, :placeholder => "Charleston"
        .three.columns
          = address.label "State"
          = address.select :state, us_states, {}
        .three.columns
          = address.label "Zip Code"
          = address.text_field :zip_code, :placeholder => "11111"
      .row
        .twelve.columns
          = address.label "Country"
          = address.select :country, countries, {}
  = f.button :submit, :label => 'Save', :value => 'Save', :class => 'button radius'