= provide(:title, 'Registration')

.row
  .eight.columns
    %h2 Sign up
    = nested_form_for(@employee, :url => employee_registration_path, :method => :post, :html => { :class => "" }) do |f|
      %fieldset
        %legend Account Information
        .row
          .eight.columns
            = f.label "Username"
            = f.text_field :username, :placeholder => "rockstar"
          .four.columns
            %p.helper-text
              = "Must be greater than 6 characters"
        .row
          .eight.columns 
            = f.label "Password"
            = f.password_field :password, :placeholder => "BlueSuedeShoes"
            = f.password_field :password_confirmation, :placeholder => "Enter Password Again"
          .four.columns
            %p.helper-text
              = "Must be greater than 6 characters"
        .row
          .eight.columns 
            = f.label "Email"
            = f.email_field :email, :placeholder => "user@email.com"
            = f.email_field :email_confirmation, :placeholder => "Enter Email Again"
          .four.columns
            %p.helper-text
              = "Must be greater than 6 characters"
      %fieldset
        %legend Personal Information
        .row
          .four.columns 
            = f.label "First Name"
            = f.text_field :first_name, :placeholder => "Elvis"
          .four.columns 
            = f.label "Middle Name"
            = f.text_field :middle_name, :placeholder => "The King"
          .four.columns 
            = f.label "Last Name"
            = f.text_field :last_name, :placeholder => "Presley"
        .row
          .six.columns 
            = f.label "Date of Birth"
            = f.datepicker :date_of_birth, :start_year => Time.now.year - 100, :end_year => Time.now.year - 18
      %fieldset
        %legend Terms & Conditions
        = f.label "You agree to Credda's Terms & Conditions"
        = f.check_box :terms_agreement
      = f.submit "Sign up", :class => "radius button"
    = render "employee/shared/authentication_links"