= provide(:title, "New SSO Client")

.row
  .eight.columns
    %h2 New Single Sign-On Client
    = form_for(@client, :url => clients_path, :method => :post, :html => { :class => "" }) do |f|
      %fieldset
        %legend Client Information
        .row
          .eight.columns
            = f.label "Name"
            = f.text_field :name, :placeholder => "Lease Application"
          .four.columns
            %p.helper-text
              = "Must be greater than 6 characters"
        .row
          .eight.columns 
            = f.label "Redirect URI"
            = f.text_field :redirect_uri, :placeholder => "http://www.yourapp.com"
          .four.columns
            %p.helper-text
              = "Must be a valid full uri"
      = f.submit "Create Application Token", :class => "radius button"