= provide(:title, "SSO Application Client")

.row
  .eight.columns
    %table
      %thead
        %tr
          %th Name
          %th Redirect URI
          %th App ID
          %th App Access Token
      %tbody
        %tr
          %td 
            = @client.name
          %td
            = @client.redirect_uri
          %td
            = @client.app_id
          %td
            = @client.app_access_token
    .three.columns
      = link_to "Edit Client Info", edit_client_path(@client), :class => 'button radius'
    .three.columns
      = link_to 'Test Customer Authorization', customer_authorization_path(:client_id => @client.app_id, :redirect_uri => @client.redirect_uri, :response_type => 'code' ), :class => 'button radius'
