= provide(:title, 'Home')

.row
  .twelve.columns
    %h1 Credda User Manager
.row
  .four.columns
    .panel
      %h2 Customers
      %p Login, registration, and account management for all personal users of our lending and banking products
      .row
        .six.columns
          = link_to("Sign in", new_customer_session_path, :class => 'radius button' )
        .six.columns
          = link_to("Sign up", new_customer_registration_path, :class => 'radius button' )
  .four.columns
    .panel
      %h2 Stores
      %p Login, registration, and account management for all of our store partners
      .row
        .six.columns
          = link_to("Sign in", new_customer_session_path, :class => 'radius button' )
        .six.columns
          = link_to("Sign up", new_customer_registration_path, :class => 'radius button' )
  .four.columns
    .panel
      %h2 Employees
      %p Login, registration, and account management for all of our wonderful employees
      .row
        .six.columns
          = link_to("Sign in", new_customer_session_path, :class => 'radius button' )
        .six.columns
          = link_to("Sign up", new_customer_registration_path, :class => 'radius button' )
