= provide(:title, "Payments")

%h1 Payments
- if (@payments.nil?) || (@payments.empty?)
  %p
    You have not made any payments.
- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Contract
        %th Payment Amount
        %th
    %tbody
      - @payments.each do |payment|
        %tr
          %td
            = "#{@payments.count} payment.statement.contract.id"
          %td
            = currency_format payment.total
- if can?(:create, Payment)
  = link_to "Make a Payment", new_customer_payment_path, :class => 'btn btn-primary'