= provide(:title, "Edit Contract")

.row
  %h1 Edit Contract
  = simple_nested_form_for( @lease, :url => customer_lease_path(@lease), :html => { :class => 'well' } ) do |f|
    = f.error_notification
    = f.input :store
    %h4
    = f.simple_fields_for :products
    = f.button :submit, :label => 'Save', :value => 'Save', :class => 'btn btn-primary'
    = link_to "Cancel", customer_leases_path, :class => 'btn'.row
  - if can?(:destroy, Lease)
    %p This action will permanently destroy the contract
    = link_to "Delete Contract", customer_lease_path(@lease), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'
