= provide(:title, "New Application")

.row
  %h1 New Application
  = simple_nested_form_for( @lease, :url => customer_leases_path, :html => { :class => 'well' } ) do |f|
    = f.error_notification
    = f.input :store
    %h4
    = f.simple_fields_for :products
    = f.button :submit, :label => 'Save', :value => 'Save', :class => 'btn btn-primary'
    = link_to "Cancel", customer_leases_path, :class => 'btn'.row
