= provide(:title, "Lease Overview")

.row
  %h1 Contract Overview
  = render "customer/leases/progress_bar"
  %dl.dl-horizontal
    %dt Customer
    %dd 
      - if @lease.customer.nil?
        = "Still Unclaimed, email: #{@lease.try(:matching_email)}"
      - else
        = @lease.try(:customer).try(:name)
    %dt Store
    %dd 
      = @lease.try(:store).try(:name)
    %dt Products
    %dd 
      = @lease.try(:products_list)
- if @lease.unclaimed?
  = link_to("Yes, This Is My Application", claim_customer_lease_path(@lease), :method => :put, :class => 'btn btn-primary' )
- elsif @lease.claimed?
  = link_to("Finish My Application", apply_customer_lease_path(@lease), :class => 'btn btn-primary' )
- elsif @lease.submitted?
- elsif @lease.approved?
  = link_to("Choose Lease Terms", select_customer_lease_path(@lease), :class => 'btn btn-primary' )
- elsif @lease.denied?
- elsif @lease.finalized?
  .row
    %p Your lease details are complete!  Please go to the store.  They will need to verify your ID, and then you can pick up your items!
- elsif @lease.verified?
  .row
    %p Your lease details are complete, and your ID has been verified!  Please go to the store to pick up your items!
- elsif @lease.active?
  .row
    = link_to "Make Payment", new_customer_payment_path, :class => 'btn btn-primary'
  .row
    %h2 Charges
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Due Date
          %th Amount Due
          %th
      %tbody
        - @lease.charges.each do |charge|
          %tr
            %td
              = date_format charge.try(:due_date)
            %td
              = currency_format charge.try(:positive_balance)
            %td
  .row
    %h2 Payments
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Payment Date
          %th Amount Paid
          %th
      %tbody
        - @lease.payments.each do |payment|
          %tr
            %td
              = date_format payment.try(:date)
            %td
              = currency_format payment.try(:total)
            %td