= provide(:title, 'Forgotten Password')

.row
  %h2 Forgot your password?
  .six.columns#new-password
    = form_for(@customer, :url => customer_password_path, :method => :post , :html => { :class => 'well' }) do |f|
      %fieldset
        %legend Account Information
        = f.email_field :email, :placeholder => "you@email.com"
        = f.submit "Reset Password", :class => "radius button"
    = render "customer/shared/authentication_links"