= nested_form_for(@customer, :url => customer_registration_path, :html => { :class => "well" }) do |f|
  .controls.controls-row
    = f.label "Username"
  .controls.controls-row
    = f.text_field :username, :class => "span3", :placeholder => "rockstar"
  .controls.controls-row
    = f.label "Password"
  .controls.controls-row
    = f.password_field :password, :class => "span3", :placeholder => "BlueSuedeShoes"
    = f.password_field :password_confirmation, :class => "span3", :placeholder => "Enter Password Again"
  .controls.controls-row
    = f.label "Email"
  .controls.controls-row
    = f.email_field :email, :class => "span3", :placeholder => "elvis@memphis.com"
    = f.email_field :email_confirmation, :class => "span3", :placeholder => "Enter Email Again"
  = f.label "Name"
  .controls.controls-row
    = f.text_field :first_name, :class => "span3", :placeholder => "Elvis"
    = f.text_field :middle_name, :class => "span3", :placeholder => "The King"
    = f.text_field :last_name, :class => "span3", :placeholder => "Presley"
  = f.label "Date of Birth"
  .controls.controls-row
    = f.date_select :date_of_birth, :class => "span3"
  = f.label "Social Security Number (SSN)"
  .controls.controls-row
    = f.text_field :social_security_number, :class => "span3", :placeholder => "505-33-1994"
  = f.label "Mailing Address"
  = f.fields_for :mailing_addresses
  = f.label "Billing Address"
  = f.fields_for :billing_addresses
  = f.label "Phone Number"
  = f.fields_for :phone_numbers
   