= provide(:title, 'Home')

.row
  .eight.columns
    %h1 Employee Home
    .panel
      .row
        .eight.columns
          %h4 User Information
          %p
            = "Username: #{current_customer.username}"
          %p
            = "Email: #{current_customer.email}"
          %p
            = "Name: #{current_customer.name}"
          %p
            = "Date of birth: #{current_customer.date_of_birth}"
          %p 
            = "Address: #{current_customer.mailing_address}"
          %p
            = "Phone Number: #{current_customer.phone_number}"
        .four.columns
          %h5 Not Correct?
          = link_to "Edit Account Info", edit_customer_registration_path, :class => 'button radius'
  .four.columns
    %h3 Payment Profiles
    - current_customer.payment_profiles.each do |payment_profile|
      .panel
        %p
          = "Name: #{payment_profile.name}"
        %p
          = "Last Four Digits: #{payment_profile.last_four_digits}"
        %p
          = "Type: #{payment_profile.payment_type}"
    = link_to "Add Payment Profile", new_customer_payment_profile_path, :class => "button radius"