.row
  .twelve.columns
    = f.label "Street"
    = f.text_field :street, :placeholder => "123 Famous St."
.row
  .six.columns
    = f.label "City"
    = f.text_field :city, :placeholder => "Charleston"
  .three.columns
    = f.label "State"
    = f.select :state, us_states, {}
  .three.columns
    = f.label "Zip Code"
    = f.text_field :zip_code, :placeholder => "11111"
.row
  .twelve.columns
    = f.label "Country"
    = f.select :country, countries, {}
