-#!!!
%html
  %head
    %meta{:charset => "utf-8", :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %title
      = full_title
    %meta{:content => full_description, :name => "description"}
    %meta{:content => "Credda Financial Corporation", :name => "author"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application, :media => "all"
    = csrf_meta_tags
    = yield(:head)
  %body{ :class => body_classes }
    %header
      = render 'layouts/header/master'
    #main-wrapper
      %div{ :id => page_id}
        = render 'layouts/messages/messages'
        = content_for?(:content) ? yield(:content) : yield
    %footer
      = render 'layouts/footer/anonymous_footer'